.toast-modal {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .toast-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-darkgray);
    // border: 1px solid rgba(128, 128, 128, 0.155);
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
    color: var(--color-primary);
    font-size: 0.9rem;
    &.success {
      color: var(--text-success);
    }
    &.error {
      color: var(--text-error);
    }
  }
}
