@font-face {
  font-family: garamond;
  src: url("../assets/fonts/apple_garamond/AppleGaramond.ttf");
}

@mixin mediumDevice {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

.apple-menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  transition: top 0.1s cubic-bezier(0.4, 0, 0.2, 1), background 0.2s;
  z-index: 1000;

  .logo {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    font-family: garamond;
    color: rgba(0, 0, 0, 0.816);
    text-shadow: 0 1px 0 white;
  }
  .login.regularScreen {
    @include mediumDevice {
      display: none;
    }
  }
  .login.smallDevice {
    display: none;
    @include mediumDevice {
      display: flex;
    }
  }
  .buttons {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    font-family: "San Francisco", "Lucida Grande", Arial, sans-serif;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: pink;
      border-radius: 1rem;
      padding-inline: 1.5rem;
      background: linear-gradient(
        white,
        lightgray 50%,
        rgb(181, 181, 181) 50%,
        lightgray,
        whitesmoke
      );
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-weight: 600;
      font-size: 0.9rem;
      text-shadow: 0 -1px 0 white;
    }
  }
}

.fixed-menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  margin: 0 1rem;
  border-radius: 0 0 2rem 2rem;
  // width: calc(100vw - 2rem);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  animation: menubarFadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 1rem;
  width: max-content;
  margin-inline: auto;
  @include mediumDevice {
    max-width: 100%;
  }
  .logo {
    display: none;
    text-shadow: 0 0 1px white;
  }
  .buttons {
    display: none;
  }
}

@keyframes menubarFadeIn {
  from {
    opacity: 0;
    top: -80px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.page-links {
  width: 700px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    #848484da,
    #5e5e5ed5 50%,
    #434343d1 50%,
    #777777d5
  );
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "San Francisco", "Lucida Grande", Arial, sans-serif;
  font-size: 15px;
  user-select: none;
  z-index: 100;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  @include mediumDevice {
    justify-content: start;
    overflow: auto;
    max-width: 100vw;
  }
}

.page-links .apple-logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 1.5rem;
  color: white;
  letter-spacing: 0.1em;
}

.page-links a {
  color: #222;
  border-right: 1px solid rgba(0, 0, 0, 0.473);
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  //   border-radius: 4px;
  transition: background 0.15s, color 0.15s;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.661);
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2);
}

.page-links a:hover,
.page-links a.active {
  background: linear-gradient(
    to bottom,
    #848484da,
    #5e5e5ed5 50%,
    #434343d1 50%,
    #777777d5
  );
}

.page-links a:active {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.332);
}
