@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e0e0e0 0%, #b0b0b0 100%);
}

*::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  height: 5px;
  width: 5px;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 1rem;
}
